name: Build Firmware

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install QMK
        run: python3 -m pip install --user qmk
      - name: QMK setup
        run: qmk setup qmk/qmk_firmware
      - name: Test
        run: qmk compile -kb clueboard/66/rev3 -km default
#      - name: Upload compiled firmware (build artifact)
#        uses: actions/upload-artifact@v2
#        with:
#          name: Keychron K6 QMK Firmware
#          path: qmk_firmware/splitkb_aurora_sweep_rev1_bosnjakmateo.hex
#      - name: Upload compiled firmware (tagged release)
#        uses: softprops/action-gh-release@v1
#        if: startsWith(github.ref, 'refs/tags/')
#        with:
#          files: |
#            qmk_firmware/splitkb_aurora_sweep_rev1_bosnjakmateo.hex